INSERT INTO public.her_geom(id_loc_, loc_cert, geom_ext_ert, sys_ref, lat, long, her_maphsa_id, grid_id, wkb_geometry) VALUES (DEFAULT, {{  loc_cert  }}, {{  geom_ext_cert  }}, {{  sys_ref  }}, {{  lat  }}, {{  long  }}, {{  her_maphsa_id  }}, {{  grid_id  }}, {{  wkb_geometry  }})	RETURNING id_loc_;