INSERT INTO public.concept_table(concept_id, concept_theme, concept_string, concept_descr, concept_thesaurus_id)
VALUES ({{ concept_id }}, '{{ concept_field }}', '{{ concept_string }}', '{{ concept_description }}',
'{{  concept_thesaurus_id  }}');